#content {
    .treatment-cases {
      background-color: #deeaea;
      padding: 0 120px 32px 120px;
  
      .case-header {
        color: #328a7b;
        text-align: center;
        font-size: 28px;
        padding-top: 64px;
        font-family: "Shippori Mincho", serif;
        
        span {
          font-size: 24px;
        }
      }
  
      .case-list {
        display: flex;
        flex-direction: column;
      }
  
      .case-number {
        text-align: center;
        margin-top: 72px;
        
        span {
          display: inline-flex;
          padding: 4px 48px;
          font-size: 24px;
          color: white;
          background: url("../img/bgr-case.png") no-repeat;
          background-size: contain;
          font-family: "Crimson Pro", serif;
  
          &:first-child {
            font-family: "WindSong", cursive;
          }
  
          &:last-child {
            font-family: "Crimson Pro", serif;
          }
        }
      }
  
      .case-grid-bg {
        background-image: url("../img/bgr-grid-2.png");
      }
  
      .case-title {
        text-align: center;
        margin: 8px;
        color: #c3bc9a;
        font-size: 24px;
        font-family: "Noto San serif", serif;
      }
  
      .case-details {
        display: flex;
        flex-direction: row;
        
        .case-info {
          width: 50%;
          margin: 32px 120px;
          margin-left: 8px;
        }
  
        .case-images {
          margin-right: 8px;
          width: 48%;
        }
  
        .case-image-types {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          
          > span {
            background-color: white;
            font-size: 16px;
            display: inline-block;
            padding: 8px 72px;
            margin: 4px;
            border-radius: 4px;
            color: #878787;
            font-family: "Noto Serif JP", serif;
          }
          
          .active {
            background-color: #8cbaba;
            color: white;
          }
        }
      }
  
      .case-image-comparison {
        position: relative;
        margin-top: 24px;
        color: #328a7b;
        
        img {
          border-radius: 12px;
        }
        
        p {
          padding: 0 8px;
        }
        
        i {
          display: inline-block;
          margin: 4px;
        }
        
        .case-image-before, .case-image-after {
          display: inline-block;
        }
        
        .case-image-after {
          position: absolute;
          top: 50%;
          right: 0;
        }
        
        .case-image-before > p {
          text-align: start;
        }
        
        .case-image-after > p {
          text-align: end;
        }
        
        .case-image-before i {
          transform: rotateZ(-90deg);
        }
        
        .case-image-after i {
          transform: rotateZ(90deg);
        }
      }
      
      .case-info-table {
        min-height: 550px;
        background-color: white;
        padding: 32px;
        
        > p {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #8cbaba;
          padding: 8px 0;
          margin: 12px 0;
        }
        
        .case-info-label {
          color: #8cbaba;
          font-size: 18px;
          font-family: "Noto Serif JP", serif;
        }
        
        span {
          font-size: 16px;
          color: #444444;
          font-family: "Noto Sans JP", sans-serif;
        }
        
        i {
          margin: 4px;
        }
      }
      
      .case-tab-header {
        p {
          display: inline-block;
          cursor: pointer;
          padding: 4px 16px;
          
          &.active {
            background-color: #acc5c5;
            color: white;
            font-family: "Noto Serif JP", serif;
          }
        }
      }
  
      .case-tab-content {
        position: relative;
        border: 1px solid #8cbaba;
        font-family: "Noto Sans JP", sans-serif;
        color: #444444;
        font-size: 14px;
      }
  
      .case-tab-panel {
        display: none;
        
        &.active {
          display: block;
        }
  
        p {
          text-align: start;
          padding: 16px;
        }
      }
    }
  }
  