#content {
    .treatment-commit {
      display: flex;
      flex-direction: row;
      margin: 64px 0;
  
      .commit-image {
        margin-right: 24px;
        flex: 1;
        background-image: url("../img/img-message.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
  
      .commit-content {
        margin-left: 24px;
        flex: 1;
  
        img {
          width: 75%;
        }
      }
  
      .commit-text {
        margin-top: 12px;
        padding: 24px 120px 0 0;
        color: #444444;
      }
  
      .commit-role,
      .commit-name {
        margin-top: 24px;
        text-align: end;
        color: #328a7b;
      }
  
      .commit-name {
        margin-top: 18px;
  
        > span {
          font-size: 14px;
          display: inline-block;
          margin-right: 8px;
        }
      }
    }
  }
  