#content {
    .treatment-flow {
      .header {
        margin-top: 64px;
        margin-bottom: 24px;
        text-align: center;
        color: #1F8980;
        font-family: "Noto Serif JP", serif;
  
        > p:first-child {
          font-size: 28px;
          margin-bottom: 24px;
  
          span {
            &:nth-child(2),
            &:nth-child(4) {
              font-size: 18px;
            }
  
            &:first-child,
            &:nth-child(3) {
              font-size: 24px;
            }
          }
        }
  
        p {
          .label {
            background-color: #69a596;
            padding: 4px 32px;
            border-radius: 32px;
            font-size: 18px;
            color: white;
            font-family: "Rounded Mplus 1c", sans-serif;
          }
        }
      }
  
      .flow-list {
        display: flex;
        flex-direction: column;
      }
  
      .flow-item {
        max-width: 75%;
        min-height: 344px;
        border: 1px #328A7B solid;
        display: flex;
        flex-direction: row;
        position: relative;
        margin: 12px 120px;
  
        img {
          width: 200px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
  
        &.left-item {
          align-self: flex-end;
  
          img {
            left: -15%;
          }
        }
  
        &.right-item {
          align-self: flex-start;
  
          img {
            right: -15%;
          }
        }
  
        .flow-detail {
          margin: 0 15%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
  
        .contact-options {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-around;
        }
      }
  
      .contact-options {
        display: flex;
        flex-direction: row;
      }
  
      .flow-name {
        font-size: 28px;
        color: #328A7B;
      }
  
      .flow-description {
        font-size: 16px;
        color: #444444;
      }
  
      .exam-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
  
        span {
          display: inline-block;
          padding: 4px 12px;
          background-color: #69A596;
          margin: 4px 8px;
          font-size: 16px;
          color: white;
          border-radius: 100px;
        }
      }
  
      .treatment-note {
        background-color: #FEFEDB;
        padding: 24px;
      }
    }
  }
  